.make-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.home-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.tabs {
  width: 50%;
  min-width: 600px;
}

.make-step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  padding: 10px 10px 30px 10px;
  border-radius: 5px;
}

.card-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card-row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-letter {
  display: flex;
  flex-direction: column;
  border: 1px solid #e2e8f0;
  font-size: 1.8rem;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
}

.selected-available-letters {
  display: flex;
  gap: 10px;
}

.summary-card {
  width: 50%;
  min-width: 600px;
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.summary-item {
  background-color: #f0f4fc;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  align-items: center;
  gap: 10px;
}

.summary-label {
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 2px;
  margin-bottom: 2px;
}

.summary-value {
  background-color: white;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #e2e8f0;
}

.summary-button {
  margin: 5px;
}

.error-message {
  color: rgb(197, 2, 2);
  font-size: 0.8rem;
  margin-top: 10px;
  background-color: rgb(255, 228, 228);
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.submit-error {
  margin-left: 5px;
  margin-bottom: 5px;
}

.answer-bank {
  display: flex;
  gap: 10px;
  border: 1px solid #e2e8f0;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  overflow-x: scroll;
}

.answer-item {
  display: flex;
  background-color: #f0f4fc;
  align-items: center;
  padding-left: 10px;
  border-radius: 5px;
}
